@use "reset";

body {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #b5ede0;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #f6a8eb;
  }
}

main {
  h2 {
    margin: 25px 0;
    color: #f6a8eb;
  }
}

table {
  border: 2px solid black;
  margin: 0 auto;
  width: 80%;
  max-width: 850px;
  border-spacing: 6px;
}

td,
th {
  border-bottom: 1px solid black;
}

th {
  background-color: #f4ec8e;
}

code {
  background-color: rgb(179, 179, 179);
}
